<div class="row">
    
    <form action="/admin/generate-fake-posts" method="POST">
    <h1>Generate Post</h1>
        <div class="form-control">
            <input  name="amount" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-dark">Generate</button>
    </form>
</div>