<h1>Create Category</h1>

    <div class="col-sm-4">
        <form action="admin/categories/create" method="POST">
        <div class="form-group">
            <label for="name">Category Name</label>
            <input type="text" name="name" class="form-control"placeholder="Enter Title">
        </div>
        
        </form>
        <button class="btn btn-primary">Create Category</button>
    </div>
    <br>
    <hr>
    <div class="col-sm-8">
        <h1>Categories</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {{#each categories}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
